@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	font-family: Cambria, Colibri, Arial, Tahoma, sans-serif
	font-weight: normal 
	font-size: 14px
	line-height: 1.2
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
// resets
a img, fieldset 
	border: none
a
	color: #2c2c2c 
	text-decoration: none
	&:hover

p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: Cambria, Colibri, Arial, Tahoma, sans-serif
button 
	background: none 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	+background-image(linear-gradient(#fff, #f3f7ce, #daea89, #b6d765, #d3e782))
.header
	position: absolute 
	top: 60px
	left: 50%
	width: 1020px
	margin-left: -510px
.logo
	float: left
	margin: 18px 14px 0 0
	+s(logo)
.nav
	float: left
	ul
		float: left
	li
		float: left
		width: 150px 
		& + li
			width: 172px 
		& + li + li
			width: 182px 
		& + li + li + li
			width: 125px
		& + li + li + li + li
			width: 155px 
	a
		position: relative
		display: block
		padding: 15px
		+fr
		font-size: 17px
		color: #78AC4E 
		&.is-active
			background: #ce6392
			+background-image(linear-gradient(45deg, #ce6392, #b63472))
			border-radius: 25px 0 
			color: #fff 
			i
				display: block
		i
			display: none
			position: absolute
			bottom: -14px
			left: 0
			width: 20px
			height: 14px
			overflow: hidden
			&:after
				content: ""
				position: absolute
				top: 0
				left: 0
				width: 40px
				height: 28px
				border-radius: 50%
				box-shadow: 0 0 0 10px #ce6392
				
.slider
	position: absolute
	top: 230px
	left: 0
	right: 0
	height: 500px
.slider__btn-prev, .slider__btn-next
	position: absolute
	top: 50%
	width: 60px 
	height: 120px
	margin-top: -60px
	&:before, &:after
		content: ""
		position: absolute
		top: 60px
		left: 0
		width: 85px
		height: 2px
		background: #58ab47 
.slider__btn-prev, .slider__btn-next
	&:before
		transform: rotate(45deg)
		transform-origin: 0 0
		-ms-transform: rotate(45deg)
		-ms-transform-origin: 0 0
		-webkit-transform: rotate(45deg)
		-webkit-transform-origin: 0 0
	&:after
		transform: rotate(-45deg)
		transform-origin: 0 0
		-ms-transform: rotate(-45deg)
		-ms-transform-origin: 0 0
		-webkit-transform: rotate(-45deg)
		-webkit-transform-origin: 0 0
	&.is-active
		&:after, &:before
			background: #ba3d78 
.slider__btn-next
	&:before
		top: 0
		transform: rotate(45deg)
		transform-origin: 0 0
		-ms-transform: rotate(45deg)
		-ms-transform-origin: 0 0
		-webkit-transform: rotate(45deg)
		-webkit-transform-origin: 0 0
	&:after
		top: 120px
		transform: rotate(-45deg)
		transform-origin: 0 0
		-ms-transform: rotate(-45deg)
		-ms-transform-origin: 0 0
		-webkit-transform: rotate(-45deg)
		-webkit-transform-origin: 0 0
.slider__btn-prev
	left: 50px
.slider__btn-next
	right: 50px
	

